flake.lock
pokeprismv-flake/bgbw64
pokeprismv-flake/pokeprismv
pokeprismv-flake/result
polished-map-flake/result
xx3dsfml/result
flake.nix.bak
*.bak
nixos/overlays/VMware-Workstation-Full-17.6.3-24583834.x86_64.bundle
.git.bfg-report/
*.kate-swp
