[Desktop Entry]
Categories=Development;
Comment=Polished Map++
Exec=nix run /home/dawn/flakes/polished-map-flake
Icon=/home/dawn/flakes/polished-map-flake/polished-map.png
Name=Polished Map++
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
