[Desktop Entry]
Categories=Development;Utility;
Comment=
Exec=nix run '/home/dawn/flakes/polished-map-flake/'
Icon=/home/dawn/flakes/polished-map-flake/polished-map.png
Name=Polished Map++
NoDisplay=false
Path=/home/dawn/flakes/pokeprismv-flake/pokeprismv/
StartupNotify=true
Terminal=false
Type=Application

