[Desktop Entry]
Categories=Game;Multimedia;
Comment=
Exec=nix run '/home/dawn/flakes/xx3dsfml/'
Icon=
Name=xx3dsfml
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
Type=Application

